body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
    color: #333 !important;
    font-weight: normal !important;
    min-width: 10px !important;
    background: url("../image/home_hr.png") !important;
    overflow-x: hidden !important;
}

.btn{
	border-radius: 0 !important;
	transition: all .5s !important;
	color: #f2f2f2 !important;
	background-color: #ff6600 !important;
}
.btn:focus{
	box-shadow: none !important;
}
.btn:hover{
	background-color: #fff !important;
	color: #ff6600 !important;
	border-color: #ff6600 !important;
}

.section-space{
    margin: 20px 0 20px 0;
}
.modtitle{
    font-size: 2em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #ff6600;
    text-align: center;
    margin-bottom: 50px;
    text-transform: capitalize;
}
.modtitle-text{
    font-size: 1.2rem;
    line-height: .5;
    color: rgba(0, 0, 0, .5);
    font-weight: 100;
}
.m-t-20{}
@media (max-width: 767px){
	.m-t-20{
		margin-top: 20px;
	}
}
/* Earn Pay points */

.pay-points{}


.download{
	border: .5px solid rgba(0,0,0,.2);
	text-align: center;
	box-sizing: border-box;
	padding: 15px;
}
.download h6{
	text-align: justify;
	color: #ff6600;
}
.download p{
	font-size: 20px;
	text-align: left;
}
.download span{
	font-size: 2em;
	font-weight: bold;
	color: #ff6600;
}

.download button{
	width: 50%
	word-wrap: break-word;
	background-color: #ff6600;
	font-weight: bold;
	color: rgb(0,0,0);
}

.slot-button a{
	font-weight: bold;
	padding: 10px 15px;
	color: #000;
	background-color: #ff6600;
	text-decoration: none!important;
	margin-bottom: 25px;
	border: 1px transparent #ff6600;
	border-radius: 5px;
}
.slot-button p{
	margin-top: 10px;
}

.slots{
	text-align: center;
	border: .5px solid rgba(0,0,0,.2);
	padding: 10px;
}
.slots h6{
	font-size: 20px;
}
.slots p{
	font-size: 12px;
}
.slots span{
	font-size: 25px;
	color: #ff6600;
}
.slots button a{
	text-decoration: none;
	color: #000;
}
.slots button{
	background-color: #ff6600;
	text-decoration: none;
	font-weight: bold;
}

.browser{
	text-align: center;
	border: .5px solid rgba(0,0,0,.2);
	padding: 10px;
	margin-top: 20px;
}
.browser h6{
	font-size: 20px;
}